body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(122, 85, 131);
}
#demo1
{
    width: 250px;
    height:300px;
    border:2px solid white;
    border-radius: 100%;
}
div
{
    position:absolute;
    display:grid;
    grid-template-columns: auto auto;
    margin-top: 350px;
    margin-left: 15px;
    column-gap: 20px;

}
#on
{
    border:none;
    background-color: green;
    border-radius: 10px;
    border:2px solid white;
}
#off
{
    border:lightpink;
    background-color: red;
    border-radius: 10px;
    border: 2px solid white;
}